{% extends 'base.html.twig' %}

{% block title %}Edit PhoneNumber{% endblock %}

{% block body %}
    <h1>Edit PhoneNumber</h1>

    {{ include('phone_number/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('phone_number_index') }}">back to list</a>

    {{ include('phone_number/_delete_form.html.twig') }}
{% endblock %}
