{% extends 'base.html.twig' %}

{% block title %}New TaskApplication{% endblock %}

{% block body %}
    <h1>Create new TaskApplication</h1>

    {{ include('task_application/_form.html.twig') }}

    <a href="{{ path('task_application_index') }}">back to list</a>
{% endblock %}
